body{
    background-color: antiquewhite;
}

img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

h1{
    color: rgb(143, 112, 28);
    text-align: center;
    font-family: "Libertinus Keyboard", system-ui;
}

h2{
    color:rgb(143, 112, 28);
}

h3{
    color:rgb(143, 112, 28) ;
}

.libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

